## Intake in action

In [ ]:
import intake
from analytics_framework import INTAKE_LOC
from pathlib import Path

In [7]:
CATALOG_LOC = Path.joinpath(INTAKE_LOC, "catalog_entry.yml")

In [8]:
catalog = intake.open_catalog(CATALOG_LOC)

In [9]:
list(catalog)

['covid_19', 'address_sample']

In [10]:
catalog.address_sample

address_sample:
  args:
    urlpath: https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv
  description: ''
  driver: intake.source.csv.CSVSource
  metadata:
    catalog_dir: /Users/sayantikabanik/DataJourney/analytics_framework/intake/
    source url: https://people.sc.fsu.edu/~jburkardt/data/csv/csv.html

In [12]:
df = catalog.address_sample.read()

In [13]:
df

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123