# Intake in action

In [1]:
import intake
from analytics_framework import INTAKE_LOC
from pathlib import Path

### Construction of catalog path

In [2]:
CATALOG_LOC = Path.joinpath(INTAKE_LOC, "catalog_entry.yml")

In [3]:
catalog = intake.open_catalog(CATALOG_LOC)

### Listing all catalog enteries

In [4]:
list(catalog)

['address_sample', 'conutry_overview']

### Reading `address_sample` entry

In [11]:
df_address = catalog.address_sample.read()
df_address.columns =['first_name', 'last_name', 'street', 'city', 'shortcode', 'pin_code']

In [12]:
df_address.shape

(5, 6)

In [13]:
df_address

,first_name,last_name,street,city,shortcode,pin_code
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123